{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Check-in</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <header>
    <div class="header-left">
      <a href="/employee/home" class="navbar-brand">NTP</a>
    </div>
    <div class="header-right">
      <a href="../../login/" class="navbar-brand active-link">Đăng xuất</a>
    </div>
  </header>
  <body>
    <h1>Check-in</h1>

    <div class="CheckIn-Group">
      <div class="time-checkIn">
        <p class="time">Thời gian check-in:</p>
        <div class="hero">
          <div class="container">
            <div class="clock">
              <div class="date">
                <span id="dd">00</span>
                <span>/</span>
                <span id="mm">00</span>
                <span>/</span>
                <span id="yyyy">00</span>
              </div>

              <div class="hour">
                <span id="hrs">00</span>
                <span>:</span>
                <span id="min">00</span>
                <span>:</span>
                <span id="sec">00</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-sm" id="okBtn">
        OK
      </button>
    </div>

    <script>
      let dd = document.getElementById("dd");
      let mm = document.getElementById("mm");
      let yyyy = document.getElementById("yyyy");

      let hrs = document.getElementById("hrs");
      let min = document.getElementById("min");
      let sec = document.getElementById("sec");

      /* Tạo thời gian thực để check in */
      setInterval(() => {
        let currentTime = new Date();

        dd.innerHTML =
          (currentTime.getDate() < 10 ? "0" : "") + currentTime.getDate();
        mm.innerHTML =
          (currentTime.getMonth() + 1 < 10 ? "0" : "") +
          (currentTime.getMonth() + 1);
        yyyy.innerHTML = currentTime.getFullYear();

        hrs.innerHTML =
          (currentTime.getHours() < 10 ? "0" : "") + currentTime.getHours();
        min.innerHTML =
          (currentTime.getMinutes() < 10 ? "0" : "") + currentTime.getMinutes();
        sec.innerHTML =
          (currentTime.getSeconds() < 10 ? "0" : "") + currentTime.getSeconds();
      }, 1000);

      /* Hàm để lấy cookie theo tên */
      function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }

      /* Hàm để đặt cookie */
      function setCookie(name, value, days) {
        let expires = "";
        if (days) {
          let date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }

      /* Khi click button, lấy thời gian hiện tại đẩy tới trang chủ */
      document
        .getElementById("okBtn")
        .addEventListener("click", async function () {
          let checkInTime = `${dd.innerHTML}/${mm.innerHTML}/${yyyy.innerHTML} ${hrs.innerHTML}:${min.innerHTML}:${sec.innerHTML}`;

          // Lấy MaNV từ cookie
          let maNV = getCookie("MaNV");
          let ngay = `${yyyy.innerHTML}-${mm.innerHTML}-${dd.innerHTML}`;
          let checkin = `${hrs.innerHTML}:${min.innerHTML}:${sec.innerHTML}`;

          // Kiểm tra xem MaNV có tồn tại hay không
          if (!maNV) {
            alert("Không tìm thấy mã nhân viên trong cookie.");
            return;
          }

          let data = {
            MaNV: maNV,
            Ngay: ngay,
            Checkin: checkin,
          };

          try {
            console.log(data);

            const response = await fetch(
              "http://localhost:8005/timeManagement/checkIn/",
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              }
            );

            if (response.ok) {
              // Lưu thời gian checkIn vào cookie
              setCookie("checkInTime", checkInTime, 1);
              // Chuyển hướng tới trang chủ
              window.location.href = "/employee/home";
            } else {
              throw new Error("Network response was not ok.");
            }
          } catch (error) {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
            document.getElementById("result").textContent =
              "Có lỗi xảy ra khi kiểm tra.";
          }
        });
    </script>
  </body>
</html>
