{%load static%}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Trang chủ</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <header>
    <div class="header-left">
      <a href="/employee/home" class="navbar-brand">NTP</a>
    </div>
    <div class="header-right">
      <a href="../../login/" class="navbar-brand active-link">Đăng xuất</a>
    </div>
  </header>
  <body>
    <h1>Trang chủ</h1>
    <!-- Danh sách button ở trang chủ Employee-->
    <div class="Main-Group">
      <div class="home-group-left">
        <div class="checkIn">
          <button id="checkInBtn" type="button" class="btn btn-primary btn-lg">
            Check-in
          </button>
        </div>
        <div class="checkOut">
          <button id="checkOutBtn" type="button" class="btn btn-primary btn-lg">
            Check-out
          </button>
        </div>
        <div class="profile">
          <button id="profileBtn" type="button" class="btn btn-primary btn-lg">
            Xem thông tin
          </button>
        </div>
        <div class="profile">
          <button id="requestBtn" type="button" class="btn btn-primary btn-lg">
            Gửi yêu cầu
          </button>
        </div>
      </div>

      <div class="home-group-right">
        <div class="time-checkIn">
          <p></p>
          <p class="time">Thời gian check-in:</p>
          <p class="time-value" id="timeValue">-</p>
        </div>

        <div class="time-sheet">
          <button
            id="timesheetBtn"
            type="button"
            class="btn btn-primary btn-lg"
          >
            Xem time-sheet
          </button>
        </div>
        <div class="activity">
          <button id="activityBtn" type="button" class="btn btn-primary btn-lg">
            Xem hoạt động
          </button>
        </div>
        <div class="points">
          <button id="pointsBtn" type="button" class="btn btn-primary btn-lg">
            Points
          </button>
        </div>
      </div>
    </div>

    <script>
      let currentTime = new Date();
      let dd = (currentTime.getDate() < 10 ? "0" : "") + currentTime.getDate();
      let mm =
        (currentTime.getMonth() + 1 < 10 ? "0" : "") +
        (currentTime.getMonth() + 1);
      let yyyy = currentTime.getFullYear();

      let hrs =
        (currentTime.getHours() < 10 ? "0" : "") + currentTime.getHours();
      let min =
        (currentTime.getMinutes() < 10 ? "0" : "") + currentTime.getMinutes();
      let sec =
        (currentTime.getSeconds() < 10 ? "0" : "") + currentTime.getSeconds();

      // Hàm lấy giá trị của cookie theo tên
      function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
      }
      // Xử lý sự kiện click cho nút Check-in
      document
        .getElementById("checkInBtn")
        ?.addEventListener("click", function () {
          window.location.href = "/employee/checkin";
        });
      // Xử lý sự kiện click cho nút Xem timesheet
      document
        .getElementById("timesheetBtn")
        ?.addEventListener("click", function () {
          window.location.href = "/employee/timesheet";
        });
      // Xử lý sự kiện click cho nút Xem thông tin
      document
        .getElementById("profileBtn")
        ?.addEventListener("click", function () {
          window.location.href = "/employee/profile";
        });
      // Xử lý sự kiện click cho nút Xem hoạt động
      document
        .getElementById("activityBtn")
        ?.addEventListener("click", function () {
          window.location.href = "/employee/activity";
        });
      // Xử lý sự kiện click cho nút Gửi yêu cầu
      document
        .getElementById("requestBtn")
        ?.addEventListener("click", function () {
          window.location.href = "/employee/leave";
        });
      // Xử lý sự kiện click cho nút Points
      document
        .getElementById("pointsBtn")
        ?.addEventListener("click", async function () {
          window.location.href = "/employee/points";
        });

      // Hiển thị thời gian check-in nếu đã được lưu
      async function fetchCheckInData() {
        try {
          let yyyy = new Date().getFullYear();
          let mm = ("0" + (new Date().getMonth() + 1)).slice(-2); // Format month to 2 digits
          let dd = ("0" + new Date().getDate()).slice(-2); // Format day to 2 digits

          let dataa = {
            MaNV: getCookie("MaNV"),
            Ngay: `${yyyy}-${mm}-${dd}`,
          };

          // Await the fetch promise
          const response = await fetch(
            "http://localhost:8005/timeManagement/getCheckIn/",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(dataa),
            }
          );

          // Await the response.json() promise
          const data = await response.json();

          // Check if the response contains data or an error message
          if (data.message !== "Not CheckIn") {
            document.getElementById("checkInBtn").disabled = true;
            let checkInRecord = data[0]; // Get the first record
            let checkInTime = `${checkInRecord.Ngay} ${checkInRecord.Checkin}`;
            if (!checkInRecord.Checkout) {
              document.getElementById("timeValue").textContent = checkInTime;
            } else {
              document.getElementById(
                "timeValue"
              ).textContent = `${checkInTime} (Checked out at ${checkInRecord.Checkout})`;
              document.getElementById("checkOutBtn").disabled = true;
            }
          } else {
            console.log("No check-in data found for today.");
            document.getElementById("timeValue").textContent = "-";
          }
        } catch (error) {
          console.error("There was a problem with the fetch operation:", error);
          document.getElementById("timeValue").textContent = "-";
        }
      }

      // Call the function when the page loads
      window.addEventListener("load", fetchCheckInData);

      // Xử lý sự kiện click cho nút Check-out
      document
        .getElementById("checkOutBtn")
        ?.addEventListener("click", async function () {
          let maNV = getCookie("MaNV");
          let ngay = `${yyyy}-${mm}-${dd}`;
          let checkout = `${hrs}:${min}:${sec}`;

          if (!maNV) {
            alert("Không tìm thấy mã nhân viên trong cookie.");
            return;
          }

          let data = {
            MaNV: maNV,
            Ngay: ngay,
            Checkout: checkout,
          };

          try {
            const response = await fetch(
              "http://localhost:8005/timeManagement/checkOut/",
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              }
            );
            if (response.ok) {
              document.getElementById("timeValue").textContent = "-";
              window.location.href = "/employee/home";
            } else {
              throw new Error("Network response was not ok.");
            }
          } catch (error) {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
            document.getElementById("result").textContent =
              "Có lỗi xảy ra khi kiểm tra.";
          }
        });
    </script>
  </body>
</html>
